:root {
  --background: #000000; /* Deep black */
  --foreground: #ffffff;
  --accent: #cbf250; /* Lando Neon */
  --gray: #888888;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif; /* Fallback until font is loaded */
  -webkit-font-smoothing: antialiased;
}

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 5px;
  border: 2px solid var(--background); /* Creates a nice padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #b5e61d; /* Slightly darker shade on hover */
}
